*{   
    margin: 0;
    padding: 0; 
}

body{
    background: none;
    background-size: none;
    font-family: 'Roboto', sans-serif;
}

.main-content{
    background-color: #0c1821;
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    padding: 7% 0 7% 0; 
}

/*Title section*/
.title-section{
    display: flex;
    justify-content: center;
}
.title-section h2{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    margin-bottom: 3%;
}

/*Input section*/
.input-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.actvity-textbox{
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
    width: 71%;
    padding: 2% 5%;
    outline: none;
}

.date-picker[type="date"]{
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    outline: none;
    width: 15px;
    height: 15px;
    padding: 2% 1%;
}

::-webkit-calendar-picker-indicator{
    background-color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    padding: 1px;
}

/*List section*/
.list-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
}

.list{
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 90%;
    height: 75vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 3% 3%;
}

.my-activity1{
    background-color: #324a5f;
    border-radius: 5px;
    color: #FFFFFF;  
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 23px;
    margin-bottom: 3%;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 3% 3%;
}

/*Button section*/
.button-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-button{
    background-color: #324a5f;
    border: 1px solid #324a5f;
    border-radius: 45px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 2% 5%;
}

.add-button:active{
    opacity: 0.5;
}

.delete-button{
    background-color: #0c1821;
    border: 1px solid #0c1821;
    border-radius: 45px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
    height: 35px;
    padding: 0% 5%;
    margin-left: 5%;
}

.delete-button:active{
   opacity: 0.5;
}
